#wrapper
{width:100%;background-color:white;
    height:30px;}
header
{
    background-color:black;
    font-size:30px;
    width:100%;
    color:white;
}
nav
{
    background-color:black;
    width:100%;display:inline-block;
}
nav ul li
{
    display:inline;
}
nav a:link
{
    color:white;text-decoration:none;
}
nav a:visited
{
    color:white;text-decoration:none;
}nav a:hover
 {
     color:white;text-decoration:none;
 }
nav a:active
   {
    color:white;text-decoration:none;
}
footer
{
    background-color:black;
    width:100%;float:none;
   }
footer ul li
{
    display:inline;
}
footer a:link
{
    color:white;
    text-decoration:none;
}
footer a:visited
{
    color:white;text-decoration:none;
}
footer a:hover
{color:white;
    text-decoration:none;
}
footer a:active
{
    color:white;
    text-decoration:none;
}
