<!DOCTYPE html>
<html lang="de">
<head>
<base href=".">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Titel}}</title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="css/favicon.ico" type="image/x-icon">
    <script src="js/vue.js"></script>

</head>
<body>
<div id="wrapper">
    <header>Beta.test</header>
    <main>

        <h1> {{.Titel}}</h1>
        {{.Inhalt}}

    </main>
    <footer>
        <ul>
            <li><a href="https://webprogrammierung.org/Impressum.html">Impressum - </a></li>
            <li><a href="https://webprogrammierung.org/Datenschutzerklaerung.html"> Datenschutzerklärung</a></li>
        </ul>
    </footer>

</div>

</body>
</html>
